
    .box{
        display: flex;
        flex-flow: row nowrap;
        flex-direction: column;
        div{
            background: deeppink;
            margin:5px;
            &:nth-child(1){
                width: 400px;
            }
            &:nth-child(2){
                flex:1
            }
            &:nth-child(3){
                flex:1
            }
        }
    }
    
